pkgbase = ros-noetic-roscpp
	pkgdesc = ROS - roscpp is a C++ implementation of ROS.
	pkgver = 1.16.0
	pkgrel = 2
	url = https://github.com/ros/ros_comm
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-noetic-xmlrpcpp
	makedepends = ros-noetic-roscpp-traits
	makedepends = ros-noetic-catkin
	makedepends = ros-noetic-rosgraph-msgs
	makedepends = ros-noetic-message-generation
	makedepends = ros-noetic-cpp-common
	makedepends = ros-noetic-std-msgs
	makedepends = ros-noetic-rosconsole
	makedepends = ros-noetic-roscpp-serialization
	makedepends = ros-noetic-rostime
	makedepends = ros-noetic-roslang
	makedepends = pkg-config
	makedepends = google-glog
	depends = ros-noetic-rostime
	depends = ros-noetic-xmlrpcpp
	depends = ros-noetic-roscpp-traits
	depends = ros-noetic-rosgraph-msgs
	depends = ros-noetic-cpp-common
	depends = ros-noetic-std-msgs
	depends = ros-noetic-rosconsole
	depends = ros-noetic-roscpp-serialization
	depends = ros-noetic-message-runtime
	source = ros-noetic-roscpp-1.16.0.tar.gz::https://github.com/ros/ros_comm/archive/845f74602c7464e08ef5ac6fd9e26c97d0fe42c9.tar.gz
	sha256sums = 382c8681ac2c9546ef3870d365410ec59ac1bc779cc6c0a68304cf595a66023b

pkgname = ros-noetic-roscpp
